/* ------------------------FONTS AND COLOR----------------------------------- */

/* Poiret One 400: font-family: 'Poiret One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


/* Roboto Mono 100 to 700, regular, medium and bold all with italic: font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


/* Inconsolata 100 to 900, regular, medium, bold, extra bold and black all with italic: font-family: 'Inconsolata', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');




/*-------------------Global---------------------- */

*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-size: 16px;

    /* Font family variables */
    --fnt-fml-title: 'Poiret One', cursive;
    --fnt-fml-sec: 'Roboto Mono', monospace;
    --fnt-fml-p: 'Inconsolata', monospace;

    /* Font size variables */
    --fnt-sz-big: 1.5rem;
    --fnt-sz-med: 1.3rem;
    --fnt-sz-smll: 1rem;
    --fnt-sz-litl: 0.8rem;

    /* Color variables */
    --clr-main: #131313;
    --clr-sec: #212121;
    --clr-tird: #ffc200; 
    --clr-fnt: #fff;

    /* Spaccing Variables */
    --size-big: 2.5rem;
    --size-med: 1.5rem;
    --size-smll: 1rem;
    --size-litl: 0.5rem;

    /* Border Variables */
    --brd-big: 15px;
    --brd-med: 8px;
    --brd-small: 5px;
}

body {
    margin: 0;
    padding: 0;
    color: var(--clr-fnt);
}
h1 {
    font-family: var(--fnt-fml-title);
}
.main-box {
    background-image: url(svg/trigonometric2.svg);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-items: center;
    background-color: #ddd8d8;
    margin: 0;
}



/* --------------------Titulo--------------------- */

.title-box {
    grid-column: 2 / 3;
    text-align: center;
    font-size: var(--fnt-sz-smll);
    height: 100vh;
    width: 50%;
    
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title {
    color: var(--clr-sec);
    font-size: 55px;
    margin: 0 0 15px 0;
    letter-spacing: 1px;
    background-color: var(--clr-fnt);

}
#description {
    font-family: var(--fnt-fml-p);
    align-self: center;
    color: var(--clr-sec);
    font-size: var(--fnt-sz-big);
    margin: 0 0 20px 0;
    background-color: var(--clr-fnt);
}

#title-svg {
    width: 40vw;
    justify-self: center;
    align-self: center;
    background-color: var(--clr-fnt);
    
}

 /* -------------------Formulario---------------- */

 form {
     width: 40vw;
     font-family: var(--fnt-fml-p);
     background-color: var(--clr-sec);
     color: var(--clr-fnt);
     padding: var(--size-big);
     margin: 10vh var(--size-med);
     border-radius: var(--brd-med);
     grid-column: 1 / 2;
 }
input, select, textarea {
    width: 100%;
    
    padding: var(--size-litl);
    margin: var(--size-litl) 0;
    border-radius: var(--brd-small);
 }
 label {
     letter-spacing: 1px;;
 }
 .form-subtitle {
    font-family: var(--fnt-fml-sec);
    font-size: var(--fnt-sz-smll);
    padding-top: var(--size-med);
    
    text-align: center;
}

::placeholder {
    font-family: var(--fnt-fml-p);
}
 


 /* Personal Info Box */
 #personal-subtitle {
     margin-top: 0;
     padding-top: 0;
 }
 .personal-info-box {
     margin: 0;
 }
 .personal-lbl {
    margin: var(--size-litl);
 }



 /* Gender-box */
 .gender-box {
     display: grid;
     grid-template-rows:  auto 1fr 1fr 1fr;
     grid-template-columns: 1fr 90%;
 }
 #gender-subtitle {
     grid-row: 1 / 2;
     grid-column: 1 / -1;
     align-self: center;
     justify-self: center;
     margin: 0;
 }
 .gender-lbl {
     width: 100%;
     display: inline-block;
     margin: 3px;
     justify-self: start;
     align-self: center;
 }

 .gender-input {
    width: auto;
    margin: var(--size-litl);
    padding: 0;
    align-self: center;
    justify-self: center;
 }
 
 /* Temas box */

.temas-box {
    display: grid;
    grid-template-rows: auto repeat(4, 1fr);
    grid-template-columns: 1fr 90%;
}
#tema-subtitle {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}
.tema-input {
    grid-column: 1 / 2;
    margin: var(--size-litl);
    align-self: center;
    justify-self: center;
}
.tema-lbl {
    grid-column: 2 / 3;
    align-self: center;
}

/* Opinion box */
#text-area {
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 200px;
    height: 100px;
    transform: none;
    border-color: none;
}


/* Botón */
#btn {
    padding: var(--size-litl) 0;
    margin: var(--size-med) 0;
    width: 100%;
    background-color: var(--clr-main);
    color: var(--clr-fnt);
    text-align: center;
    font-family: var(--fnt-fml-p);
    font-weight: 900;
    font-size: var(--fnt-sz-litl);
    border-radius: var(--brd-big);
    border-color: var(--clr-main);
    transition: 0.8s;
}
#btn:hover {
    --clr-tird: #e9b303;

    background-color: var(--clr-tird);
    border-color: var(--clr-tird);
    color: var(--clr-main);
    cursor: pointer;
}
