/* ------------------------FONTS AND COLOR----------------------------------- */
/* Poiret One 400: font-family: 'Poiret One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* Roboto Mono 100 to 700, regular, medium and bold all with italic: font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
/* Inconsolata 100 to 900, regular, medium, bold, extra bold and black all with italic: font-family: 'Inconsolata', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

/*-------------------Global---------------------- */

*, *::after, *::before {
    box-sizing: border-box;
}
 h1 {
     font-size: 32px;
     font-family: ';
 }

.main-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

}


 /* -------------------Formulario---------------- */
 form {
     width: 40vw;
     font-family: 'Roboto Mono', monospace;;
 }
input, select, textarea {
    width: 100%;
 }
 .form-subtitle {
    font-family: 'Poiret One', cursive;
 }
 
 /* Personal Info Box */


 /* Gender-box */
 .gender-box {
     display: grid;
     grid-template-rows:  auto 1fr 1fr 1fr;
     grid-template-columns: 1fr 95%;
 }
 #gender-subtitle {
     grid-row: 1 / 2;
     grid-column: 1 / -1;
     align-self: center;
     justify-self: center;
     margin: 0;
     padding: 10px;
 }
 .gender-lbl {
     width: 100%;
     display: inline-block;
     margin: 3px;
     justify-self: start;
     align-self: center;
 }

 .gender-input {
    width: auto;
    margin: 0;
    padding: 0;
    align-self: center;
    justify-self: end;
 }
 
